@keyframes pulsed {
    from {
        opacity: 1;
    }
    94% {
        opacity: 1;
    }
    95% {
        opacity: 0;
        -webkit-transform: scale(1);
        transform: scale(1);
        -moz-transform: scale(1);
    }
    96% {
        opacity: 1;
        -webkit-transform: scale(2);
        transform: scale(2);
        -moz-transform: scale(2);
    }
    97% {
        opacity: 0;
        -webkit-transform: scale(1);
        transform: scale(1);
        -moz-transform: scale(1);
    }
    98% {
        opacity: 1;
    }
    99% {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
