---
---
$background-color: #fafafa;

@import url('https://fonts.googleapis.com/icon?family=Material+Icons|Raleway:200,400,700|Poppins|Roboto+Slab|Open+Sans:400,500,700');
@import 'animate.scss';

@font-face {
  font-family: 'Kingthings Trypewriter';
  src: local(Kingthings Trypewriter), url('../fonts/kingthings-trypewriter/Kingthings-Trypewriter-2.ttf') format('truetype');
}

html {
  background-color: $background-color;
  overflow-x: hidden;
}

.navbar {
  box-shadow: none !important;

  i {
    color: black !important;
  }

  .indicator {
    background-color: black !important;
  }

  .tabs {
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);

    .tab {
      a {
        letter-spacing: 4px;
        font-size: 14px;
        text-overflow: ellipsis;
        overflow: hidden;
        color: grey !important;
      }

      a.active {
        color: black !important;
      }
    }
  }
}
#home {

  section {
    padding: 3%;
    clear: both;
  }

  .welcome {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .owner-picture {
      flex: 1.25;
      margin-right: -60px;
      display: inline-block;
      vertical-align: top;
      z-index: -1;
      text-align: right;
      position: relative;

      .glitch-container {
        margin: 0px;

        img {
          width: 100%;
          height: 100%;
        }
      }
    }

    .owner-content {
      flex: 2;
      display: inline-block;

      .owner-title {
        text-align: left !important;
        font-family: Roboto Slab, serif;
        font-size: 4vw;
        animation: pulsed 5s infinite !important;
      }

      .owner-details {
        margin-left: 40%;
        margin-top: 10%;
        text-align: right !important;

        .owner-subtitle {
          font-family: Poppins, Helvetica, Arial, sans-serif;
          font-weight: 500;
          font-style: normal;
          font-size: 0.75rem;
          text-transform: uppercase;
          font-variant: small-caps;
          letter-spacing: .45rem;
          line-height: 2.0;
          cursor: pointer;

          &:after {
            content: '';
            display: block;
            width: 100%;
            height: 2px;
            margin-top: 25px;
            margin-bottom: 25px;
            background: teal;
            opacity: .2;
          }
        }

        .owner-quote {
          font-family: 'Kingthings Trypewriter', serif;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 7;
          text-overflow: ellipsis;
          overflow: hidden;
          font-size: 2vw;
          font-style: normal;
          max-height: 20%;
        }
      }
    }
  }
}

#about {
  position: relative;

  .title {
    font-family: Roboto Slab, sans-serif;
    text-transform: uppercase;
  }

  .line-component {
    position: relative;

    &:nth-child(even) .card {
      margin-left: calc(50% + 50px);
    }

    &:nth-child(odd) .card {
      margin-left: 0;
      text-align: right;
    }

    &:before, &:after {
      display: block;
      content: "";
      width: 2px;
      height: calc(50% - 30px);
      position: absolute;
      background: #d2d2d2;
      left: calc(50% - 1px);
      top: 0;
    }

    &:after {
      height: calc(50% - 15px);
      position: absolute;
      top: calc(50% + 30px);
    }

    &:first-of-type::before,
    &:last-child::after {
        display: none !important;
    }

    .card {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 17px;
      position: relative;
      width: calc(50% - 50px);

      .card-title {
        font-weight: 500;
        font-family: Poppins, Helvetica, Arial, sans-serif;
      }
    }

    .badge {
      display: block;
      position: absolute;
      width: 40px;
      height: 40px;
      background: #d2d2d2;
      top: calc(50% - 20px);
      right: calc(50% - 20px);
      border-radius: 50%;
      text-align: center;
      cursor: default;
      animation: all 0.3s ease;

      &:hover {
        transition: scale3d(1.2, 1.2, 1);
      }

      i {
        font-size: 25px;
        line-height: 40px;
      }
    }
  }
}

#blog {
  margin-bottom: 0;

  .blog-title {
    background-color: #673ab7;
    padding: 5% 5% 2% 5%;
    font-family: Raleway, sans-serif;

    .title {
      font-weight: 400;
      color: white;
    }

    .description {
      font-weight: 200;
      color: #D7C9FC;
    }
  }

  .blog-content {
    ul.blog-list {
      margin: 0;
      padding: 0;

      .collapsible-header {
        padding-left: 20%;
        padding-right: 20%;
        padding-top: 1%;
        padding-bottom: 1%;
        font-size: 1.5rem;
        font-weight: 500;
        font-family: 'Open Sans', sans-serif;
      }

      .collapsible-body {
        padding-left: 20%;
        padding-right: 20%;
        font-family: Georgia, Cambria, 'Times New Roman', Times, serif;
        font-size: 21px;
        font-weight: normal;
        font-style: normal;

        a {
          text-decoration: underline;
        }

        p, h1, h2, h3, h4, h5, h6 {
          margin-top: 29px;
        }

        figure {
          margin: 3%;
        }

        img {
          max-width: 100%;
        }

        pre, code {
          background-color: rgba(0, 0, 0, 0.0470588);
          padding: 20px;
          font-family: Menlo, Monaco, "Courier New", Courier, monospace;
          white-space: pre-wrap;
          font-size: 16px;
        }

        strong, b {
          font-weight: bold !important;
        }
      }
    }
  }
}

#contact-form {
  position: relative;

  .title {
    font-family: Roboto Slab, sans-serif;
    text-transform: uppercase;
  }

  .row {
    position: relative;
  }

  .form-preloader {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: $background-color;
    z-index: 2;
  }

  .g-recaptcha {
    div {
      margin: 0 auto;
    }
  }
}

@media only screen and (max-width: 1240px) {
  #blog {
    .blog-content {
      ul.blog-list {
        .collapsible-header {
          padding-left: 7% !important;
          padding-right: 7% !important;
        }

        .collapsible-body {
          font-size: 18px !important;
          padding-left: 9% !important;
          padding-right: 9% !important;

          p, h1, h2, h3, h4, h5, h6 {
            margin-top: 24px;
          }

          pre, code {
            padding: 15px;
            font-size: 16px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  #home {
    .welcome {
      flex-direction: column;

      .owner-picture {
        margin-right: 0 !important;
      }

      .owner-content {
        .owner-details {
          margin-left: 0 !important;

          .owner-subtitle:after {
            margin: auto !important;
          }

          .owner-quote {
            font-family: Baskerville, serif;
            font-size: 1rem !important;
          }
        }
      }
    }
  }

  #about {
    .line-component {
      &:before, &:after {
        left: 19px !important;
      }

      .card {
        margin-left: 70px !important;
        width: calc(100% - 75px);
        font-size: 14px;
        text-align: left!important;
      }

      .badge {
        left: 0 !important;
      }
    }
  }

  #blog {
    .blog-title {
      .description {
        font-size: 21px;
      }
    }

    .blog-content {
      ul.blog-list {
        .collapsible-header {
          padding-left: 5% !important;
          padding-right: 5% !important;
          font-size: 1.2rem;
        }

        .collapsible-body {
          font-size: 18px !important;
          padding-left: 6% !important;
          padding-right: 6% !important;

          p, h1, h2, h3, h4, h5, h6 {
            margin-top: 18px;
          }

          pre, code {
            padding: 10px;
            font-size: 14px;
          }
        }
      }
    }
  }
}
