---
---
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import 'animate.scss';

html, body{
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #fafafa;

  .container {
    padding: 3% 5%;
  }
}

.monster {
  text-align: center;
  margin-left: -12%;
  opacity: 0.85;

  img {
    width: 80%;
  }
}

.error {
  z-index: 2;
  font-family: "Open Sans","Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;

  .message {
    display: block;
    font-weight: bold;
    font-size: 5vw;
    margin: 0;
  }

  .text {
    font-size: 3vw;
    margin: 0;
  }

  .base-link {
    color: limegreen;
    padding: 5% 0%;
    font-size: 2.5vw;
    display: block;
  }

  .base-link:hover i {
    animation: arrow .4s infinite;
  }
}

@media only screen and (max-width:760px) {
  .monster {
    margin-left: -30%;
  }
}
