<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="{{site.description}}">
  <meta name="author" content="{{site.author}}">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta http-equiv="cache-control" content="public">
  <meta http-equiv="expires" content="300">
  <meta property="og:title" content="Sangi Naveen Kumar - Portfolio">
  <meta property="og:type" content="website">
  <meta property="og:description" content="{{site.description}}">
  <meta property="og:image" content="{{site.url}}assets/img/nkprince007.jpg">
  <title>{{ site.title }} | Home</title>
  {% include styles.html %}
</head>

<body>
  {% include header.html %}

  <main>
    <div id="preloader" class="preloader white">
      {% include preloader.html %}
    </div>
    <div class="hidden-until-ready">
      <!--Home section-->
      <div id="home" class="row">
        <section id="welcome">
          <a class="nocolor" target="_blank" href="assets/pdf/Résume.pdf">
            <div class="container">
              <div class="owner-picture">
                <div class="glitch-container">
                  <img src="assets/img/faded.png" alt="Sangi<br>Naveen Kumar">
                </div>
              </div>
              <div class="owner-content">
                <h3 class="owner-title green-text text-lighten-2">
                  Hi, I'm Naveen.
                </h3>
                <div class="owner-details">
                  <p data-juggle class="owner-subtitle">Web Developer, Designer & Software Enthusiast</p>
                  <p class="owner-quote text-black text-lighten-2">
                    “We all have ambitious goals for sure. But for me, it is not about size. It's about the quality — think Jobs not G*tes.”</p>
                </div>
              </div>
            </div>
          </a>
        </section>

        <section id="skills">
          <div class="container">
            <p class="title flow-text center">My expertise</p>
            <p class="sub-title flow-text center">
              I create <b>beautiful</b> & <b>functional</b> web applications.
            </p>
            <div class="line-component">
              <div class="card">
                <div class="card-content">
                  <p class="card-title">Design</p>
                  I love to make things with <b>style</b>. My inspiration mostly comes
                  from <a href="https://material.io">material design</a>. I'm a
                  minimalist who truly believes that <span class="green-text">less is more</span>.
                </div>
              </div>
              <div class="blue badge"><i class="white-text fa fa-paint-brush"></i></div>
            </div>
            <div class="line-component">
              <div class="card">
                <div class="card-content">
                  <p class="card-title">Development</p>
                  I'm primarily a full stack web developer well versed around
                  <span class="green-text">EcmaScript, Swift and Django</span>.
                </div>
              </div>
              <div class="red badge"><i class="white-text fa fa-code"></i></div>
            </div>
            <div class="line-component">
              <div class="card">
                <div class="card-content">
                  <p class="card-title">Opensource</p>
                  We all love <span class="pink-text">good software</span>. It's
                  made by people like you and me. Let's collaborate and make it
                  better together.
                </div>
              </div>
              <div class="black badge"><i class="white-text fa fa-code-fork"></i></div>
            </div>
            <div class="line-component">
              <div class="card">
                <div class="card-content">
                  <p class="card-title">Servers</p>
                  I've good exposure on working with docker and other LXC based
                  servers maintenance.
                </div>
              </div>
              <div class="green badge"><i class="white-text fa fa-wrench"></i></div>
            </div>
          </div>
        </section>

        <section id="contact-form">
          <div class="container">
            <p class="title flow-text center">Get in touch!</p>
            <p class="sub-title flow-text center">I'd love to keep your company. Trust me!</p>
            <div class="row">
              <div class="form-preloader" style="display: none">
                {% include preloader.html %}
              </div>
              <form action="https://script.google.com/macros/s/AKfycbyCr7DdspVXnGlyXr3QFFkrNoI32arcybPx_8GQ34MaaI1nfZE/exec" class="col s12"
                method="POST">
                <div class="row">
                  <div class="input-field col s12 m6">
                    <input type="text" id="name" class="validate" name="name" pattern="[A-Za-z][A-Za-z0-9\s]*" required>
                    <label for="first_name" data-error="Oh, god! Stop trying to trick me. 😓" data-success="Nice name, pal. 😉">What's your name?</label>
                  </div>
                  <div class="input-field col s12 m6">
                    <input type="email" id="email" class="validate" name="email">
                    <label for="email" data-error="Is it an email address? 😡" data-success="Alright! 👍🏻" required>Your email address, please!</label>
                  </div>
                </div>
                <div class="row">
                  <div class="input-field col s12">
                    <textarea id="message" class="materialize-textarea" name="message"></textarea>
                    <label for="message">So, what's the matter, dear?</label>
                  </div>
                </div>
                <div class="row">
                  <div class="g-recaptcha" data-sitekey="6LeweRoUAAAAAHpeDC9CyX7KbIqqKGbf5BHAg8M4" data-callback="enableSend" data-expired-callback="disableSend">
                  </div>
                </div>
                <div class="row center">
                  <button id="send" class="teal disabled btn medium waves-effect waves-light" type="submit" name="action">Submit <i class="fa fa-paper-plane"></i></button>
                </div>
              </form>
            </div>
          </div>
        </section>
      </div>

      <!--Blog section-->
      <div id="blog" class="row">
        <div class="preloader white">
          {% include preloader.html %}
        </div>
        <div class="blog-title"></div>
        <div class="blog-content"></div>
      </div>

      <!--Projects section-->
      <div id="projects" class="row">
        <div class="preloader white">
          {% include preloader.html %}
        </div>
        <div class="section-banner red darken-4 white-text">
          <h2 class="title">Opensource Projects</h2>
          <h5 class="description">Some of my works...</h5>
        </div>
        <div class="container">
          <div class="project-row row gitlab"></div>
          <div class="project-row row github"></div>
        </div>
      </div>
    </div>
  </main>

  {% include footer.html %} {% include scripts.html %}
  <link rel="stylesheet" href="assets/css/index.css">
  <script src="assets/js/index.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/masonry/4.1.1/masonry.pkgd.min.js"></script>
  {% include google-scripts.html %}

</body>

</html>
