<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Oops! You're lost!</title>

  {% include base.html %}
  <link href="assets/css/not-found.css" rel="stylesheet">
</head>

<body>
  <canvas id="static"></canvas>
  <div class="error container">
    <h3 class="message center">[ 404 ]</h3>
    <p class="text">Sorry folks!</p>
    <p class="text">No channel found on this frequency.</p>
    <a href="/" class="white-text base-link">Tune into my home frequency <i class="fa fa-arrow-right"></i></a>
  </div>

  <script src="assets/js/not-found.js"></script>
</body>

</html>
