<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Page not found - {{ site.title }}</title>
</head>

<body>
  <main class="hidden-until-ready">
    <div class="error container">
      <p class="message">Sorry, folks.</p>
      <p class="text">We messed up big time!</p>
      <a href="/" class="base-link">Start over here&nbsp;<i class="fa fa-arrow-right"></i></a>
    </div>
    <div class="monster container">
      <img src="assets/img/monster.png" alt="monster">
    </div>
  </main>

  {% include footer.html %}

  {% include styles.html %}
  {% include scripts.html %}
  <link href="assets/css/not-found.css" rel="stylesheet">
  <script src="assets/js/not-found.js"></script>
</body>

</html>
